.JoinUsContainer {
    position: relative; 
    background-color: antiquewhite;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.JoinBox {
    position: absolute;
    bottom: 10%;
    width: 40vw;
    padding: 60px;

    display: flex;
    flex-direction: column;
    gap: 96px;
}

.JoinHaederBox {
    display: flex;
    justify-content: flex-end;
}

.header {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: fit-content;
    padding: 1vw;
}

.headerText {
    font-size: xx-large;
}

/* content */

.contentBox {
    /* padding: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.contentBoxHeader {
    font-size: 70px;
    color: #5fc3c5;
    align-self: flex-start;

}

.contentBoxDescription {
    font-size: x-large;
    line-height: 36px;
    color: lightgray;
}


/* links bottom */



.founderBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.iconBox {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    width: fit-content;
    padding: 1.5vw;
    display: flex;
    gap: 36px;
}


.linkedIn {
    width: 48px;
    cursor: pointer;
    font-size: 1.25vw;
    fill: #58c6c8;
    cursor: pointer;
}

.gmail {
    width: 48px;
    cursor: pointer;
    font-size: 1.25vw;
    fill: #58c6c8;
}

.linkedIn:hover {
    fill: red;
}

.gmail:hover {
    fill: red;
}

.joinDetails{
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: medium;
}


@media screen and (max-width : 900px ) {
    .header{
        margin-right: 6px;

    }
    .headerText {
        font-size: medium;
    }
    .JoinBox{
        width: 98%;
        gap: 36px;
        bottom: 6%;
        padding: 0 10px ;
    }

    .contentBox {
        /* padding: 6px; */
        gap: 24px;
    }
    .contentBoxHeader {
        font-size: xx-large;
    }
  

    .contentBoxDescription {
        font-size: medium;
        line-height: 20px ;
    }

    .gmail {
        width: 24px;
    }

    .linkedIn{
        width: 24px;
    }

    .joinDetails{
        bottom: 1%;
        transform: translate(-50%, -50%);
        font-size: small;
    }
    
}

@media (min-width : 900px ) and (max-width : 1600px ) {
   
    .headerText {
        font-size: xx-large;
    }
    .JoinBox{
        width: 80%;
        gap: 36px;
        bottom: 6%;
        padding: 0 10px ;
    }

    .contentBox {
        gap: 24px;
    }
    .contentBoxHeader {
        font-size: xx-large;
    }
  
    .contentBoxDescription {
        font-size: large;
        line-height: 26px ;
    }

    .gmail {
        width: 36px;
    }

    .linkedIn{
        width: 36px;
    }

    .joinDetails{
        bottom: 1%;
        transform: translate(-50%, -50%);
        font-size: small;
    }
}

@media (min-width : 1600px ) and (max-width : 2600px ) {
   
    .headerText {
        font-size: xx-large;
    }
    .JoinBox{
        width: 40%;
        gap: 36px;
        bottom: 6%;
        padding: 0 10px ;
    }

    .contentBox {
        gap: 24px;
    }
    .contentBoxHeader {
        font-size: xx-large;
    }
  
    .contentBoxDescription {
        font-size: large;
        line-height: 26px ;
    }

    .gmail {
        width: 36px;
    }

    .linkedIn{
        width: 36px;
    }

    .joinDetails{
        bottom: 1%;
        transform: translate(-50%, -50%);
        font-size: small;
    }
}