.founderContainer {
    background-color: #1D1F22;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.founderBox {
    width: 40vw;
    padding: 60px;

    display: flex;
    flex-direction: column;
    gap: 96px;

}

.founderHaederBox {
    display: flex;
    justify-content: flex-start;
}

.header {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    width: fit-content;
    padding: 1vw;
}


.headerText {
    font-size: larger;
}



/* content */


.contentBox {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contentBoxHeader {
    font-size: xx-large;
    color: #5fc3c5;

}

.contentBoxDescription {
    font-size: larger;
    line-height: 36px;
    color: lightgray;
}


/* bottom */


.founderBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.iconBox {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: fit-content;
    padding: 1.5vw;
    display: flex;
    gap: 24px;
}

.join{
    font-size: 1.5vw;
    color: #5fc3c5;
}


.linkedIn {
    cursor: pointer;
    font-size: 1.25vw;
    fill: #58c6c8;
    cursor: pointer;
}

.gmail {
    cursor: pointer;
    font-size: 1.25vw;
    fill: #58c6c8;
}

.linkedIn:hover {
    fill: red;
}

.gmail:hover {
    fill: red;
}


@media screen and (max-width : 1500px) {

    .founderBox {
        width: 100%;
    }

    .join{
        font-size: 3.5vw;
    } 
}

@media screen and (min-width : 2600px) {
    .headerText {
        font-size: 70px;
    }
    .contentBoxHeader {
        font-size: 70px;
    }

    .contentBoxDescription {
        font-size: x-large;
    }
}