.AboutContainer {
    position: relative; 
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.aboutDescriptionBox{
    position: absolute;
    bottom: 10%;
    left: 2%;
    color: #fff;
}

.aboutHeading{
    font-size: 70px;
    margin-bottom: 24px;
    /* color: #2b8687; */

}

.aboutHelper{
    font-size: xx-large;
    margin-bottom: 24px;

}
.aboutDescription{
    font-size: larger;
    line-height: 36px;
}

.learnOverlay{
    position: absolute; 
    bottom: 6%; 
    right: 2%; 
    text-align: center;
    color: white;
}

.learnMore{
    cursor: pointer;
    font-size: large;
}



@media (min-width: 320px) and (max-width: 750px) {
    .aboutHeading{
        font-size: 50px;
        margin-bottom: 12px;
    }


    .aboutHelper{
        font-size: x-large;
        margin-bottom: 12px;
    }
    .aboutDescription{
        font-size: medium;
        line-height: 24px;

    }
}


@media screen and (min-width : 1200px) {
    .aboutDescriptionBox{
        width: 50%;
    }
    .learnOverlay{
        right: 20%; 
    }
}

@media screen and (min-width : 2600px) {
    .aboutDescription{
        font-size: x-large;
        line-height: 36px;

    }
    .learnMore{
        font-size: x-large;
    }
}

