.SetsApartContainer {
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: auto;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px
}